<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awesome.</title>
    <link rel="stylesheet" href="/formstyle.css">
</head>

<body>


    <nav class="">
        <a class="nav-a active logo" href="">awesome.</a>
        <a class="nav-a" href="">Ответить на вопросы</a>
        <a class="nav-a" href="">Мои вопросы</a>
        <a class="nav-a" href="">Мои ответы</a>
        <a class="nav-a" href="">Аккаунт</a>
        <a href="#" class="icon" id="menu">&#9776</a>
    </nav>


    <main class="show fade-in">
        <div class="admin hidden">
            <div class="container question-table">
                <h1>Все вопросы</h1>

                <section class="container">
                    <div class="people-time">
                        <div class="people">
                            <!-- <img class="people-img" src="/"> -->
                            <p class="people-name">Иван Иванович</p>
                        </div>
                        <div class="time">
                            <p class="time-published">14:21, 09.09.2024</p>
                        </div>
                    </div>
                    <div class="direction-container">
                        <p class="direction">Прикладное программирование, 2 курс</p>
                    </div>
                    <div class="question">
                        <h2 class="question-name">Заголовок</h2>
                        <p class="question-text">вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                            вопрос
                            вопрос
                            вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                            вопрос
                        </p>
                    </div>
                </section>
                <section class="container">
                    <div class="people-time">
                        <div class="people">
                            <!-- <img class="people-img" src="/"> -->
                            <p class="people-name">Иван Иванович</p>
                        </div>
                        <div class="time">
                            <p class="time-published">14:21, 09.09.2024</p>
                        </div>
                    </div>
                    <div class="direction-container">
                        <p class="direction">Прикладное программирование, 2 курс</p>
                    </div>
                    <div class="question">
                        <h2 class="question-name">Заголовок</h2>
                        <p class="question-text">вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                            вопрос
                            вопрос
                            вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                            вопрос
                        </p>
                    </div>
                </section>


            </div>

            <div class="container user-table">
                <h1>Все пользователи</h1>
                <div class="table-head">
                    <p class="">ID</p>
                    <p class="">ФИО</p>
                    <P class="">Счет</P>
                    <p class="">Понизить счет</p>
                    <p class="">Повысить счет</p>
                </div><br>
                <div class="user">
                    <p class="user-id">1</p>
                    <p class="user-name">Иван Иванов</p>
                    <P class="user-score">54</P>
                    <p class="up-score">Понизить счет</p>
                    <p class="down-score">Повысить счет</p>
                </div>

                <div class="user">
                    <p class="user-id">1</p>
                    <p class="user-name">Иван Иванов</p>
                    <P class="user-score">54</P>
                    <p class="up-score">Понизить счет</p>
                    <p class="down-score">Повысить счет</p>
                </div>

            </div>
        </div>





        <section class="main-header">
            <h1 class="main-word">Задавай, учись,<br> помогай!</h1>
            <img class="main-picture" src="/src/mainpic.png" alt="">
        </section>
    </main>


    <main class="">
        <section class="container">
            <div class="people-time">
                <div class="people">
                    <!-- <img class="people-img" src="/"> -->
                    <p class="people-name">Иван Иванович</p>
                </div>
                <div class="time">
                    <p class="time-published">14:21, 09.09.2024</p>
                </div>
            </div>
            <p class="direction">Прикладное программирование, 2 курс</p>
            <div class="question">
                <h2 class="question-name">Заголовок</h2>
                <p class="question-text">вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                    вопрос
                    вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                </p>
            </div>
            <!-- <button class="answer-make">Ответы</button> -->
            <section class="container answer">
                <div class="answer-tittle-delete-rating-container">
                    <h2>Ответ:</h2>
                    <div class="rating-delete-container">
                        <div class="rateing">
                            1 <img class="rate-btn like" src="/src/like.png" alt="like">
                            3 <img class="rate-btn dislike" src="/src/dislike.png" alt="dislike">
                        </div>

                    </div>
                </div>
    
                <p class="answer-text">ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ
                    ответ ответ ответ ответ ответ ответ ответ ответ ответ </p>
            </section>
            <section class="container answer">
                <div class="answer-tittle-delete-rating-container">
                    <h2>Ответ:</h2>
                    <div class="rating-delete-container">
                        <div class="rateing">
                            1 <img class="rate-btn like" src="/src/like.png" alt="like">
                            3 <img class="rate-btn dislike" src="/src/dislike.png" alt="dislike">
                        </div>

                    </div>
                </div>
    
                <p class="answer-text">ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ
                    ответ ответ ответ ответ ответ ответ ответ ответ ответ </p>
            </section>
            <form class="make-answer-form" action="">
                <input type="text" id="answer-text" name="answer-text" placeholder="Твой ответ:">
                <button class="answer-make-btn" type="submit">Оставить ответ</button>
            </form>
        </section>
    </main>


    <main class="">
        <section class="container make-question">
            <h2>Новый вопрос</h2>
            <form class="make-question-form" action="">
                <label for="username">Заголовок:</label>
                <input type="text" id="question-header" name="question-header">
                <label for="username">Описание:</label>
                <input type="text" id="question-text" name="question-text">
                <button type="submit" class="make-question-btn">Оставить вопрос</button>
            </form>
        </section>

        <section class="container">
            <div class="people-time">
                <div class="people">
                    <!-- <img class="people-img" src="/"> -->
                    <p class="people-name">Иван Иванович</p>
                </div>
                <div class="time">
                    <p class="time-published">14:21, 09.09.2024</p>
                </div>
            </div>
            <p class="direction">Прикладное программирование, 2 курс</p>
            
            <div class="question">
                <h2 class="question-name">Заголовок</h2>
                <p class="question-text">вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                    вопрос
                    вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                </p>
            </div>
            <!-- <button class="answer-make">Ответы</button> -->
            <section class="container answer">
                <div class="answer-tittle-delete-rating-container">
                    <h2>Ответ:</h2>
                    <div class="rating-delete-container">
                        <div class="rateing">
                            1 <img class="rate-btn like" src="/src/like.png" alt="like">
                            3 <img class="rate-btn dislike" src="/src/dislike.png" alt="dislike">
                        </div>

                    </div>
                </div>
    
                <p class="answer-text">ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ
                    ответ ответ ответ ответ ответ ответ ответ ответ ответ </p>
            </section>
            <section class="container answer">
                <div class="answer-tittle-delete-rating-container">
                    <h2>Ответ:</h2>
                    <div class="rating-delete-container">
                        <div class="rateing">
                            1 <img class="rate-btn like" src="/src/like.png" alt="like">
                            3 <img class="rate-btn dislike" src="/src/dislike.png" alt="dislike">
                        </div>

                    </div>
                </div>
    
                <p class="answer-text">ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ
                    ответ ответ ответ ответ ответ ответ ответ ответ ответ </p>
            </section>
            <form class="make-answer-form" action="">
                <input type="text" id="answer-text" name="answer-text" placeholder="Твой ответ:">
                <button class="answer-make-btn" type="submit">Оставить ответ</button>
            </form>
        </section>

    </main>



    <main class="">
        <section class="container">
            <div class="people-time">
                <div class="people">
                    <!-- <img class="people-img" src="/"> -->
                    <p class="people-name">Иван Иванович</p>
                </div>
                <div class="time">
                    <p class="time-published">14:21, 09.09.2024</p>
                </div>

            </div>
            <div class="direction-container">
                <p class="direction">Прикладное программирование, 2 курс</p>
            </div>

            <div class="question">
                <h2 class="question-name">Заголовок</h2>
                <p class="question-text">вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                    вопрос
                    вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос
                </p>
            </div>

        </section>
        <section class="container answer">
            <div class="answer-tittle-delete-rating-container">
                <h2>Ответ:</h2>
                <div class="rating-delete-container">
                    <div class="rateing">
                        1 <img class="rate-btn like" src="/src/like.png" alt="like">
                        3 <img class="rate-btn dislike" src="/src/dislike.png" alt="dislike">
                    </div>
                    <p class="delete-btn">Удалить</p>
                </div>
            </div>

            <p class="answer-text">ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ
                ответ ответ ответ ответ ответ ответ ответ ответ ответ </p>
        </section>
    </main>



    <main class="">
        <section class="container">
            <div class="user-info">
                <div class="user-img"><img src="" alt=""></div>
                <div class="user-text-info">
                    <p class="people-name">Иванов Иван Иванович</p>
                    <p class="direction">Прикладное программирование, 2 курс, 4141</p>
                </div>
            </div>
            <div class="user-rating">
                <p class="question-quantity">Вопросов задано: 12</p>
                <p class="answer-quantity">Дано ответов: 6</p>
                <p class="like-quantity">Лайки: 31</p>
                <p class="dislike-quantity">Дизлайки: 6</p>
                <p class="rating">Рейтинг: 8.8</p>
                <p class="rating-place">Место в общем рейтинге: 2</p>
            </div>
            <p class="logout">Выйти из аккаунта</p>
        </section>
    </main>




    <script src="/awesom.js"></script>
    <footer></footer>
</body>

</html>